---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "Home Page"
---

<BaseLayout pageTitle={pageTitle}>
	<h2>This is a heading "H2" passed using the slot</code></h2>
</BaseLayout>